{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}All Categories{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include 'admin/embed/card/_header_action.html.twig' with {
                'sectionTitle' : 'Categories', 
                'actionUrl' : path('admin_category_add')
            } %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cat in categories %}
                        <tr>
                            <td>{{ cat.id }}</td>
                            <td>{{ cat.title }}</td>
                            <td>{{ cat.Slug }}</td>
                            <td>
                                <a href="{{ path('admin_category_edit',{ id : cat.id }) }}" class="btn btn-outline-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
